// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// general

.bg-main {
    background: url("/img/svg/bg.png");
    background-size: 100%;
}

.btn:focus {
    box-shadow: none;
}

.btn-gradient {
    color: #000 !important;
    transition: 0.5s;
    background-image: linear-gradient(to right, $first-color 0%, $second-color 100%);
    border: 1px solid #000;

    &:hover {
        filter: brightness(90%);
        transition: 0.5s;
        border: 1px solid #000;
    }
}

.btn-first {
    background: $first-color;
    border: 1px solid #000;

    &:hover {
        background: $second-color;
    }
}

.btn-second {
    background: $second-color;
    border: 1px solid #000;

    &:hover {
        background: $first-color;
    }
}

.logo {
    width: 80px;
}

.avatar {
    width: 35px;
    border-radius: 51%;
    margin-right: 0.5rem;
}

.nav-tabs {
    border: none;

    &__bg {
        background: $first-color;
        border-radius: 5px;
    }
}

.nav-tabs__bg .nav-item {
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        background: $second-color;
    }
}

.nav-tabs .nav-link {
    border: none;
    color: #000;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid $first-color;
    color: #000;
    font-weight: bold;
}

.navbar-notification {
    position: relative;

    &--img {
        width: 30px;
    }

    &--redicon {
        position: absolute;
        top: 3px;
        right: 12px;
        background: red;
        padding: 6px;
        box-sizing: border-box;
        border-radius: 100%;
    }
}

.empty-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text {
        padding-top: 0.5rem;
        font-weight: bold;
    }

    &--img {
        width: 100px;
    }
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

// header

.header--title {
    font-weight: bold;
    font-size: 3rem;
}

// search

.search {
    &--input {
        height: 60px;
        border: 1px solid #000;
    }

    &--btn {
        text-align: center;
        background: $first-color;
        width: 100%;
        font-size: 1.15rem;
    }
}

// footer

.footer {
    &-bg {
        background: url("/img/svg/footer.svg") no-repeat;
        background-size: 100%;
        height: 100px;
        background-position-y: bottom;
    }

    &--copyright {
        background: #F6FF6E;
        text-align: center;
    }
}

// section

.section--title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

// section areas

.areas-item--title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #000;
    }
}

// auth

.auth-form--title {
    font-size: 1.5rem;
    font-weight: bold;
}

// join-info

.join-info {
    border: 1px solid #000;
    padding: 1.5rem;
    border-radius: 13px;

    &--title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &-list--item {
        background: url('/img/svg/accept-check-success.svg') no-repeat left center;
        padding: 0.5rem 2rem;
    }
}

// search-sidebar

.search {
    &-sidebar {
        padding: 1rem;
        border: 1px solid #000;
        border-radius: 13px;

        &--title {
            font-size: 1.15rem;
            font-weight: bold;
        }
    }

    &--input {
        height: 50px;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--btn {
        font-size: 1rem;
    }
}

// hotel

.hotel {
    &--title {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: 1rem 0;

        span {
            font-size: 1rem;
            padding: 0.5rem;
            border: 1px solid #000;
            border-radius: 2px;
            margin-right: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    &--save {
        width: 30px;

        &__saved {
            fill: #000;
        }
    }

    &-gallery--img {
        cursor: pointer;
    }

    &-reviews {
        &--number {
            font-size: 1.1rem;

            span {
                font-weight: bold;
            }
        }

        &--mark {
            font-size: 1.1rem;

            span {
                font-size: 1.5rem;
                padding: 0.2rem;
                background: $first-color;
                border-radius: 5px;
            }
        }

        &-categories--title {
            font-weight: bold;
        }
    }

    &-features {
        &--title {
            font-weight: bold;
            font-size: 1.1rem;
        }

        &-list--item {
            background: url('/img/svg/accept-check-success.svg') no-repeat left center;
            padding: 0.5rem 2rem;

            &__checkbox {
                display: flex;
                background: none;
                padding: 0.5rem 0;

                &--checkbox {
                    order: -1;
                    margin-right: 1rem;
                }
            }
        }
    }
}

// profile

.profile {
    &--title {
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 0;
        //cursor: pointer;

        a {
            display: block;
            font-size: 1.2rem;
            padding: 1rem 0 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--subtitle {
        font-size: 1.1rem;

        span {
            font-weight: bold;
        }
    }

    &-title--img {
        width: 32px;
    }

    &-avatar {
        position: relative;
        cursor: pointer;

        &--img {
            width: 220px;
            height: 220px;
            object-fit: cover;
            border-radius: 51%;
            cursor: pointer;
            transition: 0.2s;
        }

        &--hided {
            top: calc(50% - 0.55rem);
            left: 17%;
            position: absolute;
            font-weight: bold;
            font-size: 1.05rem;
            color: #fff;
            display: none;
        }
    }

    &-avatar:hover &-avatar--img {
        transition: 0.2s;
        filter: brightness(0.5);
    }

    &-avatar:hover &-avatar--hided {
        display: block;
    }

    &-list {
        &-item {
            padding: 1rem;
            border: 1px solid #000;
            border-radius: 7px;
            margin-bottom: 1rem;

            &__mini {
                border: none;
                border-bottom: 1px solid #000;
                border-radius: 0;

                &:last-child {
                    border-bottom: none;
                }
            }

            &-left {
                &--img {
                    width: 100px;
                    height: 100px;
                    margin-right: 2rem;
                    object-fit: cover;
                    opacity: 50%;
                }

                &-text {
                    &--title {
                        font-size: 1.2rem;
                        font-weight: bold;

                        &:hover {
                            //text-decoration: underline;
                        }
                    }

                    &--subtitle {
                        margin-bottom: 0.5rem;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &--img {
                        width: 20px;
                        margin-right: 0.25rem;
                    }
                }

                &-profile {
                    margin-right: 3rem;

                    &--img {
                        width: 30px;
                        border-radius: 51%;
                        margin-right: 1rem;
                    }

                    &--name {
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                }
            }

            &-right {
                &--text {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                &--btn {
                    padding-top: 0;
                    margin-top: 0;

                    img {
                        width: 15px;
                    }
                }
            }
        }

        &-item:hover &-item-left--img {
            opacity: 1;
        }
    }
}

// notifications {

.notifications {
    width: 300px;

    &-item {
        &:not(:first-child) {
            margin-top: 1rem;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #000;
        }

        &-title {
            font-weight: bold;
            display: flex;
            justify-content: space-between;

            &--arrow {
                width: 17px;
            }
        }
    }
}

// image-upload

.image-upload {
    &--title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &-list {
        &-item {
            position: relative;
            cursor: pointer;

            &--img {
                width: 100%;
                transition: 0.2s;
                object-fit: cover;
            }

            &--hided {
                display: none;
                position: absolute;
                top: 46%;
                color: #fff;
                font-weight: bold;
                left: 28%;
            }
        }

        &-item:hover &-item--img {
            filter: brightness(50%);
            transition: 0.2s;
        }

        &-item:hover  &-item--hided {
            display: block;
        }
    }
}
