// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// general

.bg-main {
    background: url("/img/svg/bg.png");
    background-size: 100%;
}

.btn:focus {
    box-shadow: none;
}

.btn-gradient {
    color: #000 !important;
    transition: 0.5s;
    background-image: linear-gradient(to right, $first-color 0%, $second-color 100%);
    border: 1px solid #000;

    &:hover {
        filter: brightness(90%);
        transition: 0.5s;
        border: 1px solid #000;
    }
}

.btn-first {
    background: $first-color;
    border: 1px solid #000;

    &:hover {
        background: $second-color;
    }
}

.btn-second {
    background: $second-color;
    border: 1px solid #000;

    &:hover {
        background: $first-color;
    }
}

.logo {
    width: 80px;
}

.nav-tabs {
    border: none;

    &__bg {
        background: $first-color;
        border-radius: 5px;
    }
}

.nav-tabs__bg .nav-item {
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        background: $second-color;
    }
}

.nav-tabs .nav-link {
    border: none;
    color: #000;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid $first-color;
    color: #000;
    font-weight: bold;
}

.notification-img {
    width: 30px;
}

// header

.header--title {
    font-weight: bold;
    font-size: 3rem;
}

// search

.search {
    &--input {
        height: 60px;
        border: 1px solid #000;
    }

    &--btn {
        text-align: center;
        background: $first-color;
        width: 100%;
        font-size: 1.15rem;
    }
}

// footer

.footer {
    &-bg {
        background: url("/img/svg/footer.svg") no-repeat;
        background-size: 100%;
        height: 100px;
        background-position-y: bottom;
    }

    &--copyright {
        background: #F6FF6E;
        text-align: center;
    }
}

// section

.section--title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

// section areas

.areas-item--title {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #000;
    }
}

// auth

.auth-form--title {
    font-size: 1.5rem;
    font-weight: bold;
}

// join-info

.join-info {
    border: 1px solid #000;
    padding: 1.5rem;
    border-radius: 13px;

    &--title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &-list--item {
        background: url('/img/svg/accept-check-success.svg') no-repeat left center;
        padding: 0.5rem 2rem;
    }
}

// search-sidebar

.search {
    &-sidebar {
        padding: 1rem;
        border: 1px solid #000;
        border-radius: 13px;

        &--title {
            font-size: 1.15rem;
            font-weight: bold;
        }
    }

    &--input {
        height: 50px;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--btn {
        font-size: 1rem;
    }
}

// hotel

.hotel {
    &--title {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;

        span {
            font-size: 1rem;
            padding: 0.5rem;
            border: 1px solid #000;
            border-radius: 2px;
            margin-right: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    &--save {
        width: 30px;
    }

    &-gallery--img {
        cursor: pointer;
    }

    &-reviews {
        &--number {
            font-size: 1.1rem;

            span {
                font-weight: bold;
            }
        }

        &--mark {
            font-size: 1.1rem;

            span {
                font-size: 1.5rem;
                padding: 0.2rem;
                background: $first-color;
                border-radius: 5px;
            }
        }

        &-categories--title {
            font-weight: bold;
        }
    }

    &-features {
        &--title {
            font-weight: bold;
            font-size: 1.1rem;
        }

        &-list--item {
            background: url('/img/svg/accept-check-success.svg') no-repeat left center;
            padding: 0.5rem 2rem;
        }
    }
}

// profile

.profile {
    &--title {
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem 0;
    }

    &-list {
        &-item {
            padding: 1rem;
            border: 1px solid #000;
            border-radius: 7px;

            &-left {
                &--img {
                    width: 100px;
                    height: 100px;
                    margin-right: 2rem;
                    object-fit: cover;
                    opacity: 50%;
                }

                &--title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                &--subtitle {
                    margin-bottom: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-right {
                &--text {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                &--btn {
                    padding-top: 0;
                    margin-top: 0;

                    img {
                        width: 15px;
                    }
                }
            }
        }
    }
}
